.DS_Store
*.zip
target
target.cp
target.pd
target.cdf

.vscode/*

bin/*.json
bin/*.req
bin/*.h

bin.pd/*.json
bin.pd/*.req
bin.pd/*.h

bin.cp/*.json
bin.cp/*.req
bin.cp/*.h

bin.cdf/*.json
bin.cdf/*.req
bin.cdf/*.h

bin/id/*
bin/*.xml
bin/*.log
